*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import'./header/header.scss';
@import'./main/main.scss';
@import'./second.scss';
@import'./footer/footer.scss';
html{
    scroll-behavior: smooth;
    scrollbar-color:aquamarine rgba(0, 0, 0, 0) ;
    scrollbar-width: thin;
}