#about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    >.about-blocks{
        width: 50%;
        height: 70%;
        min-width: 300px;
       
        padding: 20px;
        >video{
            width: 100%;
            height: 100%;
            source{
                width: 100%;
                height: 100%;
            }
        }
    }
    h1{
        width: 100%;
    }
    .text{
        overflow: auto;
        padding: 20px;
        >p{
            text-align: justify;
           
        }
    }
}
@media screen and (max-width:767px){
#about{
    width: 100%;
    height: auto;
    padding: 50px;
    >.about-blocks{
        width: 100%;
        height: 400px;
    }
}
}