@import'./home.scss';
@import'./about.scss';
@import'./contact.scss';
main{
    width: 100%;
    height: auto;
    border: solid;
    padding-top: 20vh;

    .container{
        width: 100%;
        height: 100vh;
        background-color: aquamarine;
        margin-top: 1px;
    }
}
@media screen and (max-width:991px){
    main{
        padding-top: 270px;
        min-width:320px;
    }
}